* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    display: grid;
    background: linear-gradient(
      to right,
      rgb(177, 194, 243),
      rgb(95, 171, 238),
      rgb(69, 152, 224)
    );
  }
  header {
    margin-top: 40px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgb(177, 194, 243),
      rgb(95, 171, 238),
      rgb(69, 152, 224)
    );
    background-attachment: fixed;
    position: sticky;
    top: 0;
    /* border: 1px solid black; */
  
    /* overflow: none; */
  }
nav{
    display: flex;
    /* border: 2px solid  black; */
  padding: 5px;
  align-items: center;
  position: sticky;
  top: 0;
}
#part1{
    width: 50vw;
    /* border: 1px solid rgb(255, 89, 89); */
    display: flex;
    padding-left:4vw;
}
#logo{
    height: 70px;
    aspect-ratio: 7/5;
    background-image: url("fac.png");
    background-size: cover;
    /* border: 1px solid blue;   */
}
#name{
    width:500px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#name h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#part2{
    width: 30vw;
    /* border: 1px solid black; */
    /* padding: 10px; */
    display: flex;
    justify-content: center;
}
#part2 .srch{
    display: flex;
    /* border: 1px solid rgb(173, 12, 12); */
    height: 50px;
  /* width: 500px; */
}
.srch input{
    width: 300px;
    padding-left:15px ;
    border-radius: 15px 0px 0px 15px ;
    border:none;
    box-shadow: 0px 2px 1px black;
}
.srch #search_btn{
    border-radius: 0px 15px 15px 0px ;
    box-shadow: 2px 2px 1px black;
    border:none;
    aspect-ratio: 1;
    font-size: 20px;
    background-color:rgb(43, 145, 234) ;
}
#part3{
    display: flex;
    width: 20vw;
    /* border: 1px solid black; */
    justify-content: center;
}
.btn{
    border:none;
    background-color: transparent;
    height: 40px;
    width:120px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px black;
    justify-content: center;
    gap :5px;
    border-radius: 12px;
}
.btn:hover{
    box-shadow: 1px 1px 3px #2e2a2acb;
    border:none;
}
.btn #login_des{
    /* border:1px solid black; */
    font-size: 20px;
}
#log_icon{
    font-size: 20px;
    /* border:1px solid black; */
}
  main {
    padding: 30px 0px;
    /* border: 1px solid red; */
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
  }
  .sec {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
  }
  #sec1 {
    /* margin-top: 600px; */
    background-image: url("factory.jpeg");
    background-size: contain;
    background-attachment: fixed;
  }
  footer {
    height: 500px;
    width: 100%;
    background-color: rgb(40, 35, 35);
  }
  